.product-card{
    cursor: pointer;
     position:relative;
     border:none;
    .add-to-cart-btn{
        position: absolute;
         top:40%;
         left:28%;
         background-color: black;
         color:white;
         transition: .3s;
         &:hover{
            background-color: black;
            color:white;
            opacity: 0.9;
         }
    }
    .product-card-content{
        display: flex;
        justify-content: space-between;
        text-align: left!important;
        .product-card-product-name{
            .product-card-price-container{
                display: flex;
            }
        }
    }
}
.card-animation{
    animation: scale 1s 1;
 }

@keyframes scale {
    0%{
        transform: scale(0.8)
    }
    100%{
        transform: scale(1)
    }
}