.product-card {
  cursor: pointer;
  position: relative;
}

.product-card .add-to-cart-btn {
  position: absolute;
  top: 40%;
  left: 28%;
  background-color: black;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.product-card .add-to-cart-btn:hover {
  background-color: black;
  color: white;
  opacity: 0.9;
}
