.product-card {
  cursor: pointer;
  position: relative;
  border: none;
}

.product-card .add-to-cart-btn {
  position: absolute;
  top: 40%;
  left: 28%;
  background-color: black;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.product-card .add-to-cart-btn:hover {
  background-color: black;
  color: white;
  opacity: 0.9;
}

.product-card .product-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card .product-card-content .product-card-product-name .product-card-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
