.product-page-wrapper{
    display: flex;
    justify-content:center;
    margin-top:10.5vh;
    background-color: #F9F2ED;
    .product-page-container{
        width: 85%;
        margin:1em 0;
    }
}