.product-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10.5vh;
  background-color: #F9F2ED;
}

.product-page-wrapper .product-page-container {
  width: 85%;
  margin: 1em 0;
}
